.idea
.vs
out/
CMakeSettings.json
Folder.DotSettings.user

cmake-build-debug-mingw-x86
cmake-build-release-mingw-x86
cmake-build-debug-visual-studio-x86
cmake-build-release-visual-studio-x86
cmake-build-debug-mingw-x64
cmake-build-release-mingw-x64
cmake-build-debug-visual-studio-x64
cmake-build-release-visual-studio-x64